##### Master Database Connection #####
master.data.postgres.driver=postgresql
master.data.postgres.protocol=postgresql
master.data.postgres.host=[Host]
master.data.postgres.port=[DB-Port]
master.data.postgres.user=[User]
master.data.postgres.password=[Password]
master.data.postgres.database=[Database]
master.data.postgres.maxconectionpoolsize=50

##### Slave Database Connection #####
slave.data.postgres.driver=postgresql
slave.data.postgres.protocol=postgresql
slave.data.postgres.host=[Host]
slave.data.postgres.port=[DB-Port]
slave.data.postgres.user=[User]
slave.data.postgres.password=[Password]
slave.data.postgres.database=[Database]
slave.data.postgres.maxconectionpoolsize=50

#spring doc
springdoc.swagger-ui.defaultModelsExpandDepth=-1

server.error.whitelabel.enabled=false
server.error.include-stacktrace=never

#Show Query in console
logging.level.org.springframework.r2dbc=DEBUG

#Show query with parameter in console
logging.level.io.r2dbc.postgresql.QUERY=DEBUG
logging.level.io.r2dbc.postgresql.PARAM=DEBUG

##### Drive URI #####
server.erp_drive_module.uri=https://172.15.10.195/drive/

##### Academic URI #####
server.erp_academic_module.uri=https://172.15.10.195/academic/

###Auth URI###
server.erp_auth_module.uri=https://172.15.10.195/auth/

##### Module UUID #####
server.module.uuid=3e96f4e9-2e9b-42e4-a2c8-6a6eee5f5890

webclient.backend.token=eyJhbGciOiJQUzUxMiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiaWF0IjoxNTE2MjM5MDIyfQ.ecyIfJCrVTu4WP6qdPLpOqfyOLZjL7Qv9UvS4Ifdqt6F_i4jkBPsteSEcr97TyRf_MeKl4nsddup2RE6SvnUpjWyPXbwS9Gx1JZsKemPe8bqc6961mbn7J-iF6xnXlBLmt0zz3YNpCQMlhS4qU-hYRHJmGtkQaBxFXhowyQ1Ii1Kw69P42IX7Sa4e4tJrcu2IO_9koR6B2zYEs4uzMaLw-ThBxCg-RetvoE9BY0h2oeOKlutmGnCvcpVLchPCSCJXM9vDRITjuB-TUcteyVDs9uTjln4v5j10fJFuWkOzr5aXGDsUnUQ8zzvHt5hz_nIUs8RIX-tg4-8PmgGcL_xzw

jwt.secret=AMDXGbO7gGwf3hoFPpm6GwQvFrqoCsn2

app.verification.url=https://172.15.10.195/valid/auth/api/v1/validation/check

##### SSL Status #####
server.ssl-status=enable

### zone ###
server.zone = Asia/Karachi

##### Module Id #####
server.module.id=19

### Server Connection Time out ###
server.netty.connection-timeout=30000